name: "CI (Continous Integration)"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  exemplo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name:
      run: echo Hello, world!
